nav {
    background: $color-primary;
    z-index: 10;
    min-height: 100vh;
    flex-direction: row;
    align-items: center;
    display: flex;
    @include fxd;
    z-index: 30;
    opacity: 0;
    transition: opacity .3s linear;
    pointer-events: none;

    ul {
        margin: auto;
        padding: 0;
        list-style: none;
        text-align: center;
        font-size: rem(95);
    }

    a {
        color: black;
        text-decoration: none;

       &:hover, &:active, &:focus {
            font-weight: 900;
            span { display: none; }
            &:after { content: attr(data-alt); }
        }
    }
}

body.menu-open {
    overflow: hidden;

    nav {
        opacity: 1;
        pointer-events: all;
    }
}

.nav {
    position: fixed;
    top: rem(30);
    right: rem(30);
    z-index: 35;
    span { display: none; }
    &:hover { background: none; }
    
    @include bp($xl) {
        top: rem(80);
        right: rem(80);
    }

    &:before {
        width: rem(25);
        height: rem(25);
        border-radius: 50%;
        border: $stroke-width solid black;
        content: '';
        display: inline-block;
        transition: border-color .1s linear;

        .theme-inverted:not(.menu-open) & {
            border-color: white;
        }
    }
}