section {
    padding: rem($gutter-vertical) rem($gutter-horizontal);    
    position: relative;
    @include bp($sm) { min-height: 100vh; }        

    &.is-inverted {
        color: white;
        &:after {
            content: '';
            @include abs;
            display: block;
            background: black; 
            z-index: -1;       
        }
    }
}

.bg-tower {
    position: relative;
    background: none;
    @include bp($sm) { min-height: 160vw; }

    &:before {
        content: '';
        display: block;
        @include abs;
        z-index: -1;
        background-color: white;
        background-image: url('/dist/img/tower.jpg');
        background-size: cover;
        background-position: bottom center;
        opacity: .3;
    }
}