.chapter-card {
    background-size: cover;
    position: relative;
    height: 0;
    padding-bottom: 75%;
    overflow: hidden;    
    
    .chapter-card-link {
        display: block;
        @include abs;
        color: white;
        background: $color-overlay;
        transition: background .2s ease-in-out;
    }
    
    .chapter-card-caption {
        @include abs(15px);
        top: auto;
        
        @include bp($screen-xs) {
            @include abs(30px);
            top: auto;
        }

    }
    
    h2 { 
        margin: 0;
        margin-bottom: 0.25em;
    }
}