.hero-img .bg, .hero-img video {
  mix-blend-mode: color-burn;
  opacity: .2;
  -webkit-filter: brightness(140%) contrast(110%);
          filter: brightness(140%) contrast(110%); }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

figure, figcaption {
  margin: 0; }

:root {
  font-size: 16px; }
  @media screen and (min-width: 576px) {
    :root {
      font-size: 17px; } }
  @media screen and (min-width: 768px) {
    :root {
      font-size: 18px; } }
  @media screen and (min-width: 992px) {
    :root {
      font-size: 20px; } }

body {
  font-family: 'Chivo';
  margin: 0;
  line-height: 1.5;
  color: black;
  font-size: 1rem;
  border-top: 0; }

a {
  color: blue;
  text-decoration: underline;
  -webkit-transition: color .1s linear, background-color .1s linear;
  transition: color .1s linear, background-color .1s linear; }
  [data-inverted="true"] a {
    color: white; }
  a:hover {
    background: #FFF568; }

mark {
  background: #FFF568;
  padding: 0 .08em; }

h1, h2, h3, dl dt, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0 0 .7em;
  font-weight: 700;
  line-height: .85; }

h1 {
  font-size: 3rem;
  font-weight: 900; }
  h1 small {
    font-weight: 300;
    font-size: 2rem;
    display: block;
    margin-top: .4em; }

h2 {
  font-size: 3rem;
  font-weight: 900; }
  @media screen and (min-width: 576px) {
    h2 {
      font-size: 3.41176rem; } }
  @media screen and (min-width: 768px) {
    h2 {
      font-size: 4rem; } }
  @media screen and (min-width: 992px) {
    h2 {
      font-size: 5rem; } }

h3, dl dt {
  font-size: 1.5rem; }
  @media screen and (min-width: 992px) {
    h3, dl dt {
      font-size: 1.9rem; } }

.lead {
  font-size: 1.25rem;
  margin: 0 0 3em;
  font-weight: 400; }
  @media screen and (min-width: 768px) {
    .lead {
      font-size: 1.33333rem; } }
  @media screen and (min-width: 992px) {
    .lead {
      font-size: 1.6rem; } }

p, dl dd {
  font-size: 1rem; }

.type-md {
  font-size: 1.3em; }

dl {
  position: relative;
  width: 100%;
  margin: 3.75rem 0 0;
  padding: 0;
  overflow: hidden; }
  dl dt {
    margin: 0;
    padding: 1.4rem 0 0; }
    dl dt:before {
      left: 0;
      right: 0;
      content: "";
      position: absolute;
      margin-top: -1.4rem;
      border-top: 3px solid black;
      display: block; }
      [data-inverted="true"] dl dt:before {
        border-color: white; }
  dl dd {
    margin: 0;
    padding: 1.2rem 0 3rem; }
    dl dd a {
      font-size: 1.0625rem; }
      @media screen and (min-width: 992px) {
        dl dd a {
          font-size: 1.125rem; } }
  @media screen and (min-width: 768px) {
    dl dt {
      float: left;
      width: 33%;
      padding-right: 1em;
      padding-bottom: 1.4rem; }
    dl dd {
      width: 67%;
      float: left; } }

header {
  background: #FFF568;
  position: relative;
  z-index: 110;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6.25rem 1.5625rem; }
  @media screen and (min-width: 768px) {
    header {
      padding: 9.44444rem 2.77778rem; } }
  @media screen and (min-width: 992px) {
    header {
      padding: 12rem 2.5rem; } }
  @media screen and (min-width: 576px) {
    header {
      min-height: 100vh; } }

@-webkit-keyframes logo {
  0% {
    -webkit-transform: translate(50%, -50%) scale(1);
            transform: translate(50%, -50%) scale(1);
    opacity: 1;
    visibility: visible; }
  100% {
    -webkit-transform: translate(50%, -50%) scale(5.5);
            transform: translate(50%, -50%) scale(5.5);
    opacity: 0;
    visibility: hidden; } }

@keyframes logo {
  0% {
    -webkit-transform: translate(50%, -50%) scale(1);
            transform: translate(50%, -50%) scale(1);
    opacity: 1;
    visibility: visible; }
  100% {
    -webkit-transform: translate(50%, -50%) scale(5.5);
            transform: translate(50%, -50%) scale(5.5);
    opacity: 0;
    visibility: hidden; } }

@-webkit-keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
  header .logo {
    position: absolute;
    top: 50%;
    right: 50%;
    -webkit-transform: translate(50%, -50%);
            transform: translate(50%, -50%);
    -webkit-animation: logo .6s both;
            animation: logo .6s both;
    z-index: 90;
    -webkit-animation-delay: 4s;
            animation-delay: 4s;
    display: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    pointer-events: none; }
    body.intro header .logo {
      display: block; }
  header:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    background: -webkit-gradient(linear, left top, left bottom, from(#FFF568), color-stop(30%, rgba(255, 245, 104, 0)), color-stop(70%, rgba(255, 245, 104, 0)), to(#FFF568));
    background: linear-gradient(#FFF568 0%, rgba(255, 245, 104, 0) 30%, rgba(255, 245, 104, 0) 70%, #FFF568 100%); }
  header .container {
    position: relative;
    z-index: 2; }
    body.intro header .container {
      -webkit-animation: fade-in .6s both;
              animation: fade-in .6s both;
      -webkit-animation-delay: 4.33333s;
              animation-delay: 4.33333s; }
  header a {
    color: black; }
    header a:hover {
      color: blue; }
  header h1 span {
    display: none; }
  @media screen and (min-width: 768px) {
    header h1 small {
      display: inline;
      font-size: .9em; }
    header h1 span {
      display: inline; } }
  header .lead {
    margin: 2em 0 0; }

.hero-img img {
  display: none; }

.hero-img .bg {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: opacity 2s ease-in;
  transition: opacity 2s ease-in;
  opacity: 0;
  background-size: cover;
  display: none; }
  .hero-img .bg.loaded {
    opacity: .2; }
  [data-is-mobile="true"] .hero-img .bg {
    display: block; }

.hero-img video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: opacity 2s ease-in;
  transition: opacity 2s ease-in;
  opacity: 0; }
  .hero-img video.loaded {
    opacity: .2; }
  [data-is-mobile="true"] .hero-img video {
    display: none; }

.main-menu nav {
  background: #FFF568;
  z-index: 10;
  min-height: 100vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 120;
  opacity: 0;
  -webkit-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
  pointer-events: none; }
  .main-menu nav ul {
    margin: auto;
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 3rem; }
  .main-menu nav a {
    color: black;
    text-decoration: none;
    display: block; }
    .main-menu nav a::first-letter {
      text-transform: uppercase; }
    .main-menu nav a.active {
      text-decoration: underline; }
    .main-menu nav a:hover {
      font-weight: 900;
      font-size: 0; }
      .main-menu nav a:hover:after {
        content: attr(data-alt);
        font-size: 3rem; }

body[data-main-menu-open="true"] {
  overflow: hidden; }
  body[data-main-menu-open="true"] nav {
    opacity: 1;
    pointer-events: all; }

.main-menu .toggle {
  position: fixed;
  top: 1.5625rem;
  right: 1.5625rem;
  -webkit-transform: translate(9px, -9px);
          transform: translate(9px, -9px);
  z-index: 130;
  font-size: 0; }
  .main-menu .toggle body.logo-animation {
    -webkit-animation: fade-in .6s both;
            animation: fade-in .6s both;
    -webkit-animation-delay: 4.33333s;
            animation-delay: 4.33333s; }
  @media screen and (min-width: 576px) {
    .main-menu .toggle {
      top: 1.38889rem;
      right: 1.38889rem;
      -webkit-transform: translate(5px, -5px);
              transform: translate(5px, -5px); } }
  @media screen and (min-width: 768px) {
    .main-menu .toggle {
      top: 2.5rem;
      right: 2.5rem; } }
  .main-menu .toggle:hover {
    background: none; }
  .main-menu .toggle:before {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 3px solid black;
    content: '';
    display: inline-block;
    -webkit-transition: border-color .15s ease-in;
    transition: border-color .15s ease-in; }
    [data-theme-inverted="true"]:not([data-main-menu-open="true"]) .main-menu .toggle:before {
      border-color: white; }

.show-img {
  position: relative; }
  .show-img img {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 50%;
    z-index: -1;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 35vw;
    max-width: 350px;
    height: auto;
    -webkit-transition: opacity .1s linear, visibility .1s linear;
    transition: opacity .1s linear, visibility .1s linear; }
  .show-img:hover img {
    opacity: 1;
    visibility: visible; }

section {
  position: relative;
  overflow: hidden;
  padding: 6.25rem 1.5625rem; }
  @media screen and (min-width: 768px) {
    section {
      padding: 9.44444rem 2.77778rem; } }
  @media screen and (min-width: 992px) {
    section {
      padding: 12rem 2.5rem; } }
  @media screen and (min-width: 576px) {
    section {
      min-height: 100vh; } }
  section[data-inverted="true"] {
    color: white; }
    section[data-inverted="true"]:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      background: black;
      z-index: -1; }
  section .bg {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transition: opacity 2s ease-in;
    transition: opacity 2s ease-in;
    opacity: 0;
    z-index: -2;
    background-size: cover;
    background-position: bottom center;
    opacity: .3; }
    section .bg.loaded {
      opacity: .2; }

.container {
  max-width: 960px;
  margin: auto;
  position: relative; }

.link-list, .link-list-slash {
  margin: 3em 0;
  padding: 0;
  list-style: none;
  font-size: 1.125rem;
  line-height: 2.5; }
  @media screen and (min-width: 992px) {
    .link-list, .link-list-slash {
      font-size: 1.25rem; } }
  .link-list li, .link-list-slash li {
    display: inline;
    margin-right: 3.75rem; }

.link-list-slash li {
  margin-right: 0; }
  .link-list-slash li:not(:last-of-type):after {
    content: ' / '; }

.instagram-feed {
  position: relative;
  margin: 3em 0; }
  @media screen and (min-width: 768px) {
    .instagram-feed {
      margin: 5em 0; } }
  .instagram-feed figure, .instagram-feed figcaption {
    padding: 0; }
  .instagram-feed img {
    display: none; }
  .instagram-feed ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden; }
    @media screen and (min-width: 576px) {
      .instagram-feed ul {
        margin: 0 -0.78125rem; } }
    @media screen and (min-width: 768px) {
      .instagram-feed ul {
        margin: 0 -1.25rem; } }

.instagram-post {
  margin: 0 0 1.5625rem;
  float: left;
  width: 100%;
  font-size: 1.125rem; }
  @media screen and (min-width: 576px) {
    .instagram-post {
      width: 50%;
      padding: 0 0.78125rem; } }
  @media screen and (min-width: 768px) {
    .instagram-post {
      margin: 0 0 2.5rem;
      padding: 0 1.25rem; } }
  .instagram-post a {
    opacity: 0;
    -webkit-transition: .6 ease-in;
    transition: .6 ease-in;
    padding-bottom: 66.66667%;
    display: block;
    background-size: cover;
    background-position: center;
    -webkit-transition: opacity .6s ease-in;
    transition: opacity .6s ease-in;
    position: relative; }
    .instagram-post a[data-portrait="true"] {
      padding-bottom: 125%; }
      @media screen and (min-width: 576px) {
        .instagram-post a[data-portrait="true"] {
          padding-bottom: calc(133.33333% + 1.5625rem); } }
      @media screen and (min-width: 768px) {
        .instagram-post a[data-portrait="true"] {
          padding-bottom: calc(133.33333% + 2.5rem); } }
    #portfolio .instagram-post a {
      padding-bottom: 100%; }
    .instagram-post a.loaded {
      opacity: 1; }
    .instagram-post a .caption {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      overflow: hidden;
      background: #FFF568;
      opacity: 0;
      -webkit-transition: opacity .125s linear;
      transition: opacity .125s linear;
      padding: 1.25rem;
      font-size: 1em;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      color: black; }
    .instagram-post a .user {
      font-weight: 700; }
    .instagram-post a .meta {
      color: inherit; }
    .instagram-post a .tags {
      word-spacing: 0em;
      margin: .5em auto 0;
      display: block;
      text-align: center;
      font-size: .85em;
      line-height: 1.3; }
    .instagram-post a .tag {
      text-decoration: underline; }
    .instagram-post a:hover .caption {
      opacity: 1; }

textarea {
  resize: vertical; }

button, input[type="button"] {
  overflow: visible;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  background: transparent;
  font: inherit;
  line-height: normal;
  text-decoration: underline;
  cursor: pointer;
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text; }
  button::-moz-focus-inner, input[type="button"]::-moz-focus-inner {
    padding: 0;
    border: 0; }

input[type="text"], input[type="email"], textarea {
  font: inherit;
  padding: 0.625rem 0;
  margin: 0;
  display: block;
  width: 100%;
  border: 0;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: inherit;
  line-height: inherit;
  border-bottom: 3px solid black;
  vertical-align: baseline;
  -webkit-transition: padding .1s linear, background-color .1s linear, height .1s linear;
  transition: padding .1s linear, background-color .1s linear, height .1s linear; }
  input[type="text"]::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: grey; }
  input[type="text"]:-ms-input-placeholder, input[type="email"]:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: grey; }
  input[type="text"]::placeholder, input[type="email"]::placeholder, textarea::placeholder {
    color: grey; }
  input[type="text"]:focus, input[type="email"]:focus, textarea:focus {
    padding: 0.625rem;
    background: #FFF568;
    border-color: black; }

.input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-transition: opacity .4s ease-in;
  transition: opacity .4s ease-in; }
  .input-group.hidden {
    opacity: 0;
    height: 0;
    overflow: hidden; }
  .input-group + .input-group {
    margin-top: 1em; }
  .input-group .input-group-addon {
    min-height: 1em;
    border-bottom: 3px solid black;
    padding: 0.625rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-transition: .15s linear;
    transition: .15s linear; }
    .input-group .input-group-addon img {
      display: inline-block;
      height: 1.5em;
      vertical-align: top; }
  .input-group .input-group-input:focus + .input-group-addon {
    background: #FFF568;
    padding: 0.625rem; }

.e-mail {
  width: 100%; }

@media screen and (max-width: 768px) {
  .e-mail-form .col:last-child {
    margin-top: 1.5625rem; } }

@media screen and (min-width: 768px) {
  .e-mail-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .e-mail-form .col:last-child {
      margin-left: 3.125rem;
      -webkit-box-flex: 5;
          -ms-flex-positive: 5;
              flex-grow: 5; } }

.logo svg {
  margin: 0;
  -webkit-animation: rotate 4s both;
          animation: rotate 4s both;
  -webkit-animation-delay: 1s;
          animation-delay: 1s; }

.logo circle {
  stroke-dasharray: 628.31853;
  -webkit-animation: dash-circle 4s both;
          animation: dash-circle 4s both;
  -webkit-animation-delay: 1s;
          animation-delay: 1s; }

.logo line {
  stroke-dasharray: 100;
  -webkit-animation: dash-line 4s both;
          animation: dash-line 4s both;
  -webkit-animation-delay: 1s;
          animation-delay: 1s; }

@-webkit-keyframes dash-circle {
  0% {
    stroke-dashoffset: 628.31853; }
  30% {
    stroke-dashoffset: 942.4778; }
  70% {
    stroke-dashoffset: 942.4778; }
  100% {
    stroke-dashoffset: 1884.95559; } }

@keyframes dash-circle {
  0% {
    stroke-dashoffset: 628.31853; }
  30% {
    stroke-dashoffset: 942.4778; }
  70% {
    stroke-dashoffset: 942.4778; }
  100% {
    stroke-dashoffset: 1884.95559; } }

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  30% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg); }
  40% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg); }
  60% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg); }
  70% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg); }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg); } }

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  30% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg); }
  40% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg); }
  60% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg); }
  70% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg); }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg); } }

@-webkit-keyframes dash-line {
  0% {
    stroke-dashoffset: -100; }
  50% {
    stroke-dashoffset: -100; }
  60% {
    stroke-dashoffset: 0; }
  70% {
    stroke-dashoffset: 0; }
  80% {
    stroke-dashoffset: -100; }
  100% {
    stroke-dashoffset: -100; } }

@keyframes dash-line {
  0% {
    stroke-dashoffset: -100; }
  50% {
    stroke-dashoffset: -100; }
  60% {
    stroke-dashoffset: 0; }
  70% {
    stroke-dashoffset: 0; }
  80% {
    stroke-dashoffset: -100; }
  100% {
    stroke-dashoffset: -100; } }
