dl {
    position: relative;
    width: 100%;
    margin: rem(60) 0 0;
    padding: 0;
    overflow: hidden;


    dt {
        margin: 0;
        padding: 1.4rem 0 0;
        @extend h3;   

        &:before {
            left: 0; right: 0;
            content: "";
            position: absolute;
            margin-top: -1.4rem;
            border-top: $stroke-width solid black;
            display: block;  
            
            [data-inverted="true"] & {
                border-color: white;
            }
        }
    }
    dd {
        @extend p;
        margin: 0;
        padding: 1.2rem 0 3rem;

        a {
            font-size: rem(17);
            @include bp($lg) { font-size: rem(18); }
        }
    }

    @include bp($md) {
        dt {
            float: left;
            width: 33%;
            padding-right: 1em;
            padding-bottom: 1.4rem;
        }
        dd {
            width: 67%;
            float: left;
        }
    }
}