textarea {
    resize: vertical;
}

button, input[type="button"] {
    @include link-button;
}

input[type="text"], input[type="email"], textarea {
    font: inherit;
    padding: rem(10) 0;
    margin: 0;
    display: block;
    width: 100%;
    border: 0;
    outline: 0;
    box-shadow: none;
    color: inherit;
    line-height: inherit;
    border-bottom: $stroke-width solid black;
    vertical-align: baseline;
    transition: padding .1s linear, background-color .1s linear, height .1s linear;

    &::placeholder {
        color: grey;
    }

    &:focus {
        padding: rem(10);        
        background: $color-primary;
        border-color: black;
    }
}

.input-group {
    display: flex;
    width: 100%;
    transition: opacity .4s ease-in;

    &.hidden {
        opacity: 0;
        height: 0;
        overflow: hidden;
    }

    &+.input-group {
        margin-top: 1em;
    }
    
    .input-group-addon {
        min-height: 1em;
        border-bottom: $stroke-width solid black;
        padding: rem(10) 0;
        display: flex;
        flex-direction: column-reverse;
        transition: .15s linear;        
        
        img {
            display: inline-block;
            height: 1.5em;
            vertical-align: top;            
        }
    }

    .input-group-input:focus + .input-group-addon {
        background: $color-primary;
        padding: rem(10);
    }
}

.e-mail {
    width: 100%;
}

@include bp($md, max) {
    .e-mail-form .col:last-child {
        margin-top: rem(25);
    }
}

@include bp($md) {
    .e-mail-form {
        display: flex;
        justify-content: space-between;
    
        .col:last-child {
            margin-left: rem(50);            
            flex-grow: 5;
        }
    }
}
