header {
    background: $color-primary;
    position: relative;
    z-index: 110;
    overflow: hidden;
    display: flex;
    align-items: center;
    @include padding;
    @include bp($sm) { min-height: 100vh; }

    @keyframes logo {
        0% {
            transform: translate(50%, -50%) scale(1);
            opacity: 1;            
        }
        100% {
            transform: translate(50%, -50%) scale(5.5);
            opacity: 0;            
        }
    }

    @keyframes fade-in {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    .logo {
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
        animation: logo .6s both;
        z-index: 90;
        animation-delay: $logo-time * 1;
    }

    &:after {
        @include abs;
        content: '';
        background: linear-gradient($color-primary 0%, rgba($color-primary, 0) 30%, rgba($color-primary, 0) 70%, $color-primary 100%);
    }

    .container {
        position: relative;
        z-index: 2;
        animation: fade-in .6s both;
        animation-delay: $logo-time + $logo-delay/3;
    }

    a {
        color: black;
        &:hover { color: blue; }
    }

    h1 span {
        display: none;
    }
    @include bp($md) { 
        h1 small { 
            display: inline;
            font-size: .9em;
        }
        h1 span { display: inline; }
    }
    

    .lead {
        margin: 2em 0 0;
    }
}