header {
    background: $color-primary;
    position: relative;
    z-index: 110;
    padding: rem($gutter-vertical) rem($gutter-horizontal);    
    overflow: hidden;
    display: flex;
    align-items: center;
    @include bp($sm) { min-height: 100vh; }

    &:after {
        @include abs;
        content: '';
        background: linear-gradient($color-primary 0%, transparent 30%, transparent 70%, $color-primary 100%);
    }

    .container {
        position: relative;
        z-index: 2;
    }

    a {
        color: black;
        &:hover { color: blue; }
    }

    .lead {
        margin-top: rem(150);
        line-height: 1.5;
        margin-bottom: 0;
        font-size: rem(48);
        position: relative;
    }
}

h1 {
    font-size: rem(90);
    font-weight: 900;
    z-index: 1;
    position: relative;

    small { 
        font-weight: 300; 
        @include bp($md, max) { 
            display: block; 
            margin-top: .5em;
            span { display: none; }
        }
    }
}
