.instagram {
    position: relative;

    figure, figcaption {
        padding: 0;
    }

    img {
        display: none;
    }
    
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
        margin: rem(100) rem(-30) 0;
    }

    li {
        margin: 0;
        width: 100%;
        @include bp($sm) { width: percentage(1 / 2); }
        @include bp($md) { width: percentage(1 / 3); }
        padding: rem(45);
        float: left;
    }


    a {
        opacity: 0;
        transition: .6 ease-in;
        padding-bottom: percentage(2 / 3);
        display: block;
        background-size: cover;
        background-position: center;
        transition: opacity .6s ease-in;
        position: relative;

        &.loaded {
            opacity: 1;
        }

        .caption {
            @include abs();
            overflow: hidden;
            background: $color-primary;
            opacity: 0;
            //transition: opacity .2s linear;        
            padding: rem(20);
            font-size: rem(30);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;    
            color: black;            
        }

        .user {
            font-weight: 900;
        }

        &:hover .caption {
            opacity: 1;
        }
    }
}