.instagram-feed {
    position: relative;
    margin: 3em 0;
    @include bp($md) { margin: 5em 0; }
    
    figure, figcaption { padding: 0; }
    img { display: none; }
    
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;

        @include bp($sm) {  margin: 0 rem(25/-2) }
        @include bp($md) {  margin: 0 rem(50/-2, 20) }              
    }
}

.instagram-post {
    margin: 0 0 rem(25);
    float: left;
    width: 100%;
    font-size: rem(18);

    @include bp($sm) { 
        width: percentage(1 / 2);
        padding: 0 rem(25/2)
    }
 
    @include bp($md) {  
        margin: 0 0 rem(50, 20);
        padding: 0 rem(50/2, 20);        
    }   
    
    a {
        opacity: 0;
        transition: .6 ease-in;
        padding-bottom: percentage(2 / 3);
        #portfolio & { padding-bottom: 100%; }

        display: block;
        background-size: cover;
        background-position: center;
        transition: opacity .6s ease-in;
        position: relative;
        &.loaded { opacity: 1; }

        .caption {
            @include abs();
            overflow: hidden;
            background: $color-primary;
            opacity: 0;
            transition: opacity .15s linear;        
            padding: rem(20);
            font-size: 1em;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;    
            color: black;            
        }

        .user {
            font-weight: 700;
        }

        .meta {
            color: inherit;
        }

        .tags {
            word-spacing: 0em;
            margin: .5em auto 0;
            display: block;
            text-align: center;
            font-size: .85em;
            line-height: 1.3;        
        }
        .tag {
            text-decoration: underline;
        }

        &:hover .caption {
            opacity: 1;
        }
    }
}