.link-list {
    margin: 3em 0;
    padding: 0;
    list-style: none;
    font-size: rem(18);
    @include bp($lg) { font-size: rem(20); }
    line-height: 2.5;
    
    li {
        display: inline;
        margin-right: rem(60);
    }
}

.link-list-slash {
    @extend .link-list;

    li {
        margin-right: 0;
        &:not(:last-of-type):after { content: ' / '; }
    }
}