section {
    padding: rem($gutter-vertical) rem($gutter-horizontal);    
    position: relative;
    overflow: hidden;
    @include bp($sm) { min-height: 100vh; }        

    &[data-inverted="true"] {
        color: white;
        &:after {
            content: '';
            @include abs;
            display: block;
            background: black; 
            z-index: -1;       
        }
    }


    .bg {
        @include overlay;
        z-index: -2;
        background-size: cover;
        background-position: bottom center;
        opacity: .3;
    }
}

// #clients {
//     &:after {
//         @include abs;
//         z-index: -2;
//         background: lightgray;
//         opacity: .5;
//         content: '';        
//     }
// }
