.show-img {
    position: relative;
    img { 
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        top: 50%;
        z-index: -1;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 35vw;
        max-width: 350px;
        height: auto;
        transition: opacity .1s linear, visibility .1s linear;
     }

    &:hover img {
        opacity: 1;
        visibility: visible;
    }
}