* { box-sizing: border-box; }

figure, figcaption {
    margin: 0;
}

:root {
    font-size: 16px;
    @include bp($sm) { font-size: 17px; }    
    @include bp($md) { font-size: 18px; }    
    @include bp($lg) { font-size: 20px; }    
}

body {
    font-family: 'Chivo';
    margin: 0;
    line-height: 1.5;
    color: black;
    font-size: 1rem;
    border-top: 0;

    // @include bp($xl) {
    //     &:before {
    //         content: '';
    //         user-select: none;
    //         @include fxd;
    //         pointer-events: none;
    //         z-index: 100;
    //         border: rem(50) solid $color-primary;
    //         display: none;
    //     }
    // }
}

a {
    color: $color-secondary;
    text-decoration: underline;
    transition: color .1s linear, background-color .1s linear;
    [data-inverted="true"] & { color: white; }

    &:hover { 
        background: $color-primary;
    }
}

mark {
    background: $color-primary;
    padding: 0 .08em;
}

@include h {
    margin: 0 0 .7em;
    font-weight: 700;   
    line-height: .85;    
}

h1 {
    font-size: rem(48);
    font-weight: 900;   

    small {
        font-weight: 300;
        font-size: rem(32);
        display: block;
        margin-top: .4em;
    }
}
h2 {
    font-size: rem(48);
    @include bp($sm) { font-size: rem(58, 17); }        
    @include bp($md) { font-size: rem(72, 18); }        
    @include bp($lg) { font-size: rem(100, 20); }        
    font-weight: 900;
}

h3 {
    font-size: rem(24);
    @include bp($lg) { font-size: rem(38, 20); }            
}

.lead {
    font-size: rem(20);
    @include bp($md) { font-size: rem(24, 18); }    
    @include bp($lg) { font-size: rem(32, 20); }    
    margin: 0 0 3em;
    font-weight: 400;
}

p {
    font-size: 1rem;
}

.type-md {
    font-size: 1.3em;
}