---
layout: default
title: Home
---

{% include hero.html %}
       
<main class="cards" id="overview">
    <div class="wrapper">
        <ul class="chapter-list">
        {% for post in site.posts %}
            {% if post.title %}
            <li class="chapter-card-col">
                <div class="chapter-card" style="background-image:url({{post.cover}})">
                    <a class="chapter-card-link" angular-ripple href="{{ post.url | prepend: site.baseurl }}">
                        <div class="chapter-card-caption">
                            <h2>{{ post.title }}</h2>
                            {% if post.chapter %}<span class="type-light">{{ post.chapter }}</span>{% endif %}
                        </div>
                    </a>
                </div>
            </li>
            {% endif %}
        {% endfor %}
        </ul>
    </div>
</main>

{% include footer.html %} 