---
layout: default
---

<main class="chapter"
      {% if page.slides %}
        ng-init='slides = {{ page.slides | jsonify }}'
        ng-controller="SliderController"
      {% endif %}>
      
    <header class="chapter-header">
        <div class="wrapper">
            <h1 class="chapter-title" itemprop="name headline">{{ page.title }}</h1>
            <span class="type-subtitle">{{ page.chapter }}</span>
        </div>
    </header>
    
    <article itemscope itemtype="http://schema.org/BlogPosting">       
        {% if page.slides %}
            
            <div class="chapter-slider">
                <ul rn-carousel rn-carousel-index="index">
                    <li ng-repeat="slide in slides">
                        <div class="chapter-slider-image" ng-style="{ backgroundImage: 'url('+slide.cover+')' }"></div>
                    </li>
                </ul>
                
                <div rn-carousel-indicators ng-if="slides.length > 1" slides="slides" rn-carousel-index="index"></div>
            </div>
            
        
            <div class="chapter-details"
                ng-repeat="slide in slides" 
                ng-class="{'active' : $index === index }"
                ng-if="slide.details">
                   
                <div class="wrapper">                    
                    <h2>[[ slide.details.client ]]</h2>
                    
                    <div class="row">
                        <div class="col">
                            <h3>Wens</h3>
                            <div marked="slide.details.wish"></div>
                        </div> 
                        <div class="col">
                            <h3>Oplossing</h3>
                            <div marked="slide.details.solution"></div>
                        </div>                   
                        <div class="col">
                            <h3>Verantwoordelijkheid</h3>
                            <div marked="slide.details.task"></div>
                        </div>
                        
                        <div class="col">
                            <a ng-href="[[ slide.details.url ]]">[[ slide.details.url | noHttp ]]</a>
                        </div>
                    </div>
                </div>
                
                <nav class="chapter-slider-nav">
                    <div class="nav-wrapper">
                        <button class="btn btn-prev btn-default" angular-ripple ng-click="prev()" ng-if="prevSlide">
                            <img src="/img/icon-arrow-right.svg" alt="Back">
                            <span class="text">
                                <h3>[[prevSlide.details.client]]</h3>                         
                                Previous case
                            </span>
                        </button>
                        
                        <span class="chapter-slider-nav-caption">Case switch</span>
                        
                        <button class="btn btn-next btn-default" angular-ripple ng-click="next()" ng-if="nextSlide">
                            <span class="text">
                                <h3>[[nextSlide.details.client]]</h3>                         
                                Next case
                            </span>
                            <img src="/img/icon-arrow-right.svg" alt="Back">
                        </button>
                    </div>
                </nav>    
            </div>
        
        {% endif %}
        
        <div class="chapter-content" itemprop="articleBody">
            <div class="wrapper">
                 {% if page.slides %}
                    <div class="chapter-slider-content-container">
                        <div class="chapter-slider-body" 
                            ng-repeat="slide in slides" 
                            ng-class="{'active' : $index === index }"
                            marked="slide.body | quotes"
                            ng-if="slide.body">
                        </div>
                    </div>
                {% endif %}
                
                {{ content }}
            </div>
        </div>
        
        {% if page.previous.url %}
            <nav class="chapter-nav">
                <div class="wrapper">
                    <a class="btn btn-next" angular-ripple href="{{page.previous.url}}">
                        <span class="text">
                            <h3>{{page.previous.title}}</h3>                         
                            {{page.previous.chapter}}
                        </span>
                        <img src="/img/icon-arrow-right.svg" alt="Next">
                    </a>
                </div>
            </nav>
        {% else %}
            <nav class="chapter-nav chapter-nav-prev">
                <div class="wrapper">
                    <a class="btn btn-prev" angular-ripple href="/ixd">
                        <img src="/img/icon-arrow-right.svg" alt="Back">
                        <span class="text">
                            <h3>The end</h3>                         
                            Start over
                        </span>
                    </a>
                </div>
            </nav>
        {% endif %}

    </article>
</main>