---
layout: default
---

<main class="chapter"
      ng-init='slides = {{ page.slides | jsonify }}'
      ng-controller="SliderController">
      
    <article itemscope itemtype="http://schema.org/BlogPosting">       
        {% if page.slides %}
            <div class="chapter-slider">
                <ul rn-carousel rn-carousel-index="index">
                    <li ng-repeat="slide in slides">
                        <div class="chapter-slider-image" ng-style="{ backgroundImage: 'url('+slide.cover+')' }"></div>
                    </li>
                </ul>
                
                <div rn-carousel-indicators ng-if="slides.length > 1" slides="slides" rn-carousel-index="index"></div>
            </div>
        {% endif %}
        
        <header class="chapter-header">
            <div class="wrapper">
                <h1 class="chapter-title" itemprop="name headline">{{ page.title }}</h1>
                <span class="type-subtitle">{{ page.chapter }}</span>
            </div>
        </header>
        

        <div class="chapter-content" itemprop="articleBody">
            <div class="wrapper">
                 {% if page.slides %}
                    <div class="chapter-slider-content-container">
                        <div class="chapter-slider-body" 
                            ng-repeat="slide in slides" 
                            ng-class="{'active' : $index === index }"
                            marked="slide.body"
                            ng-if="slide.body">
                        </div>
                    </div>
                {% endif %}
                
                {{ content }}
            </div>
        </div>
        
        {% if page.previous.url %}
            <nav class="chapter-nav">
                <div class="wrapper">
                    <a class="btn btn-next" angular-ripple href="{{page.previous.url}}">
                        <span class="text">
                            <h3>{{page.previous.title}}</h3>                         
                            {{page.previous.chapter}}
                        </span>
                        <img src="/img/icon-arrow-right.svg" alt="Next">
                    </a>
                </div>
            </nav>
        {% else %}
            <nav class="chapter-nav chapter-nav-prev">
                <div class="wrapper">
                    <a class="btn btn-prev" angular-ripple href="/ixd">
                        <img src="/img/icon-arrow-right.svg" alt="Back">
                        <span class="text">
                            <h3>The end</h3>                         
                            Take me back
                        </span>
                    </a>
                </div>
            </nav>
        {% endif %}

    </article>
</main>